<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            
            <form [formGroup]="checkoutFormGroup" (submit)="submit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>First Name</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" />
                                @if (firstName?.invalid && (firstName?.dirty || firstName?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']) {
                                            <div>First Name is a required field.</div>
                                        }

                                        @if (firstName?.errors?.['minlength']) {
                                            <div>First Name must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Last Name</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" />
                                @if (lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']) {
                                            <div>Last Name is a required field.</div>
                                        }

                                        @if (lastName?.errors?.['minlength']) {
                                            <div>Last Name must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Email</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="email" type="text" />
                                @if (email?.invalid && (email?.dirty || email?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (email?.errors?.['required']) {
                                            <div>Email is a required field.</div>
                                        }

                                        @if (email?.errors?.['pattern']) {
                                            <div>Email must be a valid email format.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- shipping address form group -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Country</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    @for (country of countries; track country.id) {
                                        <option [ngValue]="country">{{ country.name }}</option>
                                    }
                                </select>

                                @if (shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (shippingAddressCountry?.errors?.['required']) {
                                            <div>Country is a required field.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Address Line 1</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="address1" type="text" />

                                @if (shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']) {
                                            <div>Address Line 1 is a required field.</div>
                                        }

                                        @if (shippingAddressStreet?.errors?.['minlength']) {
                                            <div>Address Line 1 must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>City</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="city" type="text" />

                                @if (shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']) {
                                            <div>City is a required field.</div>
                                        }

                                        @if (shippingAddressCity?.errors?.['minlength']) {
                                            <div>City must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>State</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="country">
                                    @for (state of shippingAddressStates; track state.id) {
                                        <option [ngValue]="state">{{ state.name }}</option>
                                    }
                                </select>

                                @if (shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (shippingAddressState?.errors?.['required']) {
                                            <div>State is a required field.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Zip Code</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="zip" type="text" />

                                @if (shippingAddressZip?.invalid && (shippingAddressZip?.dirty || shippingAddressZip?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (shippingAddressZip?.errors?.['required'] || shippingAddressZip?.errors?.['notOnlyWhitespace']) {
                                            <div>Zip Code is a required field.</div>
                                        }

                                        @if (shippingAddressZip?.errors?.['minlength']) {
                                            <div>Zip Code must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- "same as shipping?" checkbox -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)" />
                        <span class="au-checkmark"></span> Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- billing address form group -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Country</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    @for (country of countries; track country.id) {
                                        <option [ngValue]="country">{{ country.name }}</option>
                                    }
                                </select>

                                @if (billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (billingAddressCountry?.errors?.['required']) {
                                            <div>Country is a required field.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Address Line 1</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="address1" type="text" />

                                @if (billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']) {
                                            <div>Address Line 1 is a required field.</div>
                                        }

                                        @if (billingAddressStreet?.errors?.['minlength']) {
                                            <div>Address Line 1 must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>City</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="city" type="text" />

                                @if (billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']) {
                                            <div>City is a required field.</div>
                                        }

                                        @if (billingAddressCity?.errors?.['minlength']) {
                                            <div>City must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>State</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="country">
                                    @for (state of billingAddressStates; track state.id) {
                                        <option [ngValue]="state">{{ state.name }}</option>
                                    }
                                </select>

                                @if (billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (billingAddressState?.errors?.['required']) {
                                            <div>State is a required field.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Zip Code</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="zip" type="text" />

                                @if (billingAddressZip?.invalid && (billingAddressZip?.dirty || billingAddressZip?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (billingAddressZip?.errors?.['required'] || billingAddressZip?.errors?.['notOnlyWhitespace']) {
                                            <div>Zip Code is a required field.</div>
                                        }

                                        @if (billingAddressZip?.errors?.['minlength']) {
                                            <div>Zip Code must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- credit card form group -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Payment Method</h3>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Card Type</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>

                                @if (creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (creditCardType?.errors?.['required'] || creditCardType?.errors?.['notOnlyWhitespace']) {
                                            <div>Card Type is a required field.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Name on Card</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text" />

                                @if (creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhitespace']) {
                                            <div>Name on Card is a required field.</div>
                                        }

                                        @if (creditCardNameOnCard?.errors?.['minlength']) {
                                            <div>Name on Card must be at least two characters.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Card Number</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text" />

                                @if (creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (creditCardNumber?.errors?.['pattern'] || creditCardNumber?.errors?.['required']) {
                                            <div>Card Number must be a valid 16-digit number.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Security Code</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text" />

                                @if (creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)) {
                                    <div class="alert alert-danger mt-1">
                                        @if (creditCardSecurityCode?.errors?.['pattern'] || creditCardSecurityCode?.errors?.['required']) {
                                            <div>Security Code must be 3 digits long.</div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Expiration Year</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    @for (year of creditCardYears; track year) {
                                        <option>{{ year }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mt-2"><label>Expiration Month</label></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    @for (month of creditCardMonths; track month) {
                                        <option>{{ month }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- order details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency:'USD' }}</p>
                </div>

                <!-- submit button -->
                 <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                 </div>

            </form>

        </div>
    </div>
</div>
